@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700,900&display=swap');

/*font-family: 'Noto Sans KR', sans-serif;*/

/*리셋*/
* {margin: 0; padding: 0; box-sizing: border-box; font-family: 'Noto Sans KR', sans-serif;}
ol,ul { list-style: none;}
a { text-decoration: none; color: #333;}
img {border: 0;}
/** { border: 1px solid black;}*/

/*전체*/

body {
    width: 100%;
}

/*헤더*/

header {
    position: relative;
    width: 100%;
    height: 100px;
}

header img {
    position: absolute;
    top: 0;
    left: 20%;
    width: 10%;
    min-width: 150px;
    margin: 25px 0px;
}

.BigMenu {
    position: absolute;
    float: right;
    width: 700px;
    height: 100px;
    top: 0;
    right: 200px;
    cursor: pointer;
    z-index: 15;
    border: 1px solid blue;
    background-color: white;
}

.BigMenu li {
    width: 100px;
    height: 40px;
    text-align: center;
    font-size: 1.1em;
    line-height: 40px;
    float: left;
    margin: 28px 19px;
    border: 1px solid black;
}

.BigMenu a {
    display: block;
}

.sliedMenu {
    position: absolute;
    background-color: white;
    top: 70px;
    width: 100%;
    height: 0px;
    transition: 0.5s;
}

.SmMenu {
    position: absolute;
    float: right;
    width: 100px;
    height: 0px;
    z-index: 20;
    visibility: hidden;
    transition: 0.5s;
    overflow: hidden;
    display: block;
}

.SmMenu li {
    float: left;
    font-size: 0.8em;
    width:100%;
    height: 35px;
    margin: 0;
    margin-top: -2px;
}

.BigMenu a:hover {
    color: red;
}

.SmMenu a:hover {
    color: red;
    font-weight: bold;
}



.BigMenu:hover .sliedMenu {
    height: 200px;
    border-bottom: 4px solid red;
}

.BigMenu:hover .SmMenu {
    height: 200px;
    visibility: visible;
}

.BigMenu::after {
    content: "";
    display: block;
    clear: both;
}

.headB {
    display: none;
}

.headC {
    display: none;
}


/*메인*/

.main {
    width: 100%;
    height: 500px;
    position: relative;
    z-index: 10;
    background-image: url(img/main_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.mainBox {
    border: 1px solid red;
    position: relative;
    width: 60%;
    height: 500px;
    left: 50%;
    transform: translateX(-50%);
    
}

.img_title {
    position: absolute;
    width: 40%;
    min-width: 300px;
    right: 0;
    top: 20%;
}

.main h1 {
    position: absolute;
    top: 20%;
    font-size: 3em;
    min-width: 200px;
    border: 1px solid red;
}

.iconBox {
    position: absolute;
    top: 55%;
    width: 500px;
    background-color: antiquewhite;
}

.iconBox li {
    float: left;
    padding: 10px;
    border: 1px solid red;
}

.iconBox li img {
    width: 100%;
}



/*상품*/

.pro {
    width: 100%;
    margin-top: 200px;
    position: relative;
}

.pro h1 {
    width: 280px;
    height: 50px;
    text-align: center;
    font-size: 40px;
    margin: auto;
}

.pro_line {
    width: 400px;
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translate(-50%);
}

.mbBox {
    display: none; 
}

.pro_one {
    width: 80%;
    height: 200px;
    margin: auto;
    margin-top: 50px;
}

.pro_one li {
    float: left;
    width: 25%;
    transition: 0.5s;
}
    
.pro_one a {
    width: 80%;
    margin: auto;
    display: block;
    text-align: center;
    }

.pro_one img {
    text-align: center;
}

.pro_one p {
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

.pro_two {
    width: 60%;
    height: 200px;
    margin: auto;
    margin-top: 50px;
}

.pro_two li {
    float: left;
    width: 33%;
    transition: 0.5s;
}

.pro_two a {
    width: 80%;
    margin: auto;
    display: block;
    text-align: center;
    }

.pro_two p {
    width: 100%;
    margin-top: 20px;
    text-align: center;
}


.pro_one li:hover {
    transform: scale(1.2);
}

.pro_two li:hover {
    transform: scale(1.2);
}


/*정보*/

.inf {
    width: 100%;
    height: 650px;
    margin-top: 100px;
    position: relative;
    background-color: antiquewhite;
}

.inf h1 {
    width: 280px;
    height: 50px;
    font-size: 40px;
    margin: auto;
}

.inf_line {
    width: 400px;
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translate(-50%);
}

.inf_one {
    width: 50%;
    height: 85%;
    margin: auto;
    margin-top: 30px;
}

.inf_one li {
    width: 50%;
    height: 100%;
    float: left;
    padding: 10px;
    position: relative;
}


.inf_one p {
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 1.2em;
    background-color: white;
}

.inf_img1 {
    width: 100%;
    height: 220px;
    background-image: url(img/im1.jpg);
    background-position: center;
    background-size: cover;
}


.inf_img2 {
    width: 100%;
    height: 220px;
    background-image: url(img/im3.jpg);
    background-position: center;
    background-size: cover;
}


.inf_img3 {
    width: 100%;
    height: 220px;
    background-image: url(img/im2.jpg);
    background-position: center;
    background-size: cover;
}


.inf_img4 {
    width: 100%;
    height: 220px;
    background-image: url(img/im4.jpg);
    background-position: center;
    background-size: cover;
}

.inf_one i {
    font-size: 56px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: red;
    display: none;
}

.inf_one li:hover i {
    display: block;
}


/*cf*/

.cf {
    width: 80%;
    height: 550px;
    margin: 100px auto 0 auto; 
    margin-top: 100px;
    position: relative;
}

.cf h1 {
    width: 50px;
    height: 50px;
    font-size: 40px;
    margin: auto;
}

.cf_line {
    width: 400px;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%);
}

.Big_f {
    width: 60%;
    height: 80%;
    margin-top: 60px;
    margin-left: 120px;
}

.vid {
    width: 15%; 
    height: 80%;
    margin-top: 50px;
    position: relative;
    float: right;
    right: 10%;
}

.vid iframe {
    position: absolute;
    width: 100%;
}

.if1 {
    top: 0;
}

.if2 {
    top: 35%;
}

.if3 {
    bottom: 0;
}

/*하단*/

footer {
    width: 100%;
    height: 120px;
    background-color: antiquewhite;
    font-size: 12px;
    text-align: center;
    margin-top: 100px;
}

.ft_p {
    width: 800px;
    height: 20px;
    margin: auto;
    padding-top: 10px;
}

footer strong {
    color: red;
}

footer ul {
    width: 800px;
    height: 20px;
    margin: auto;
    text-align: center;
    margin-top: 40px;
}

footer li {
    float: left;
}

footer li p::after {
    content: "|";
    padding: 10px;
    color: black;
}

footer li p:last-child::after {
    content: "";
}

.ft_lastp {
    width: 550px;
    height: 20px;
    padding-top: 10px;
    margin: auto;
}












